<div class="container"><br>
  <h2>Welcome to Twitter Jr.</h2> 
  Key in Twitter username.
  <form action="/tweets" method="post">
    <input type="text" name="username" placeholder="username">
    <input type=submit value="Fetch tweets!">
  </form>
</div>
